/* Divide current component into three flex columns. Content lives in the
secondThird, and is fixed at 300px. Grow other two columns to fill space
and grow (or fix) them at different proportions depending on media query. */

/* The flex property is shorthand for <flex-grow> <flex-shrink> and 
<flex-basis> in that order. */

.superContainer {
	font-family: Arial, Helvetica, sans-serif;
	color: #303030;
}

.mainLogo {
	font-size: 2em;
	font-weight: 500; 
	font-variant: small-caps;
}

.subLogo {
	padding: 0px 0px 20px 0px;
	font-style: italic;
}

.footer {
	padding: 20px 0px 10px 8px;
	color: white;
	background-color: #303030;
}

@media (min-width: 321px) {

	.headerContainer {
		display: flex;
		flex-direction: row;
	}

	.firstThirdHeader {
		flex: 0 0 auto;
		max-width: 40px;
	}

	.secondThirdHeader {
		flex: 0 0 300px;
		max-width: 380px;
	}

	.thirdThirdHeader {
		flex: 1 0 auto;
	}

	.currentComponent{
		display: flex;
	  flex-direction: row;
	}

	.firstThirdBody {
		flex: 1 0 auto;
		max-width: 40px;
	}

	.secondThirdBody {
		flex: 0 0 content;
		max-width: 380px;
	}

	.thirdThirdBody {
		flex: 1 0 auto;
	}
}

@media (min-width: 600px) {

	.headerContainer {
		display: flex;
		flex-direction: row;
	}

	.firstThirdHeader {
		flex: 1 0 auto;
		max-width: none;
		background: linear-gradient(to right, #e1e1e1 , white);
	}

	.secondThirdHeader {
		flex: 0 0 300px;
		max-width: 380px;
	}

	.thirdThirdHeader {
		flex: 2 0 auto;
		background: linear-gradient(to left, #cdcdcd , white);
	}

	.currentComponent {
		display: flex;
	  flex-direction: row;
	}

	.firstThirdBody {
		flex: 1 0 auto;
		max-width: none;
		background: linear-gradient(to right, #e1e1e1 , white);
	}

	.secondThirdBody {
		flex: 0 0 content;
		max-width: 380px;
	}

	.thirdThirdBody {
		flex: 2 0 auto;
		background: linear-gradient(to left, #cdcdcd , white);
	}

	.footer {
	padding: 20px 0px 10px 40px;
	}
}
